hr, img { border: none; }
hr { border-bottom: 1px solid $color-grey; }
img { vertical-align: middle; }
ol, ul { list-style-position: outside; }
table td,
table th { vertical-align: top; }

big { font-size: larger; }
small { font-size: smaller; }
sub, sup { font-size: smaller; line-height: 0; }
sub { vertical-align: sub; }
sup { vertical-align: super; }
strong { font-weight: bold; }
em { font-style: italic; }
abbr[title] { border-bottom: 1px dotted; }
mark { background: #ff0; color: #000; }


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{ margin: 1em 0 0.5;
    &:first-of-child{
        margin-top: 0;
    }
}

h1, .h1 { font-size: 48px; }
h2, .h2 { font-size: 32px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 20px; }
h5, .h5 { font-size: 18px; }
h6, .h6 { font-size: 16px; }


.format {
    p,
    form,
    hr,
    iframe,
    blockquote,
    q,
    table,
    ol,
    ul {
        margin-bottom: 1em;
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: disc;
    }
    li {
        margin-bottom: 0.5em;
    }
    a{
        color: $color-link;
    }

    table {
        width: 100%;
        th,
        td {
            padding: 8px;
            border: 1px solid $color-grey;
            border-collapse: collapse;
        }
        th {
            font-weight: 700;
            color: #000;
        }
    }
    .pull-left {
        margin: 4px 20px 10px 0;
    }
    .pull-right {
        margin: 4px 0 10px 20px;
    }
    .dashed,
    .dotted {
        text-decoration: none;
    }
}
